<div id="container">


  <div class="content-container">
    <div class="image-section"></div>
    
    <section class="login-section" *ngIf="!this.showRegister" [@inOutAnimation]>
      <h2>Login</h2>
      <div class="form-section">
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput>
        </mat-form-field>
        <div>

        </div>
        <button mat-raised-button color="primary">Login</button>
        <span>
          Don't have an account ? <a href="/">Sign up</a>
        </span>
        <button mat-raised-button color="primary" (click)="handleClickRegister()">Register</button>
      </div>
      
    </section>
    <section class="register-section" *ngIf="this.showRegister" [@inOutAnimation]>
      <button mat-raised-button color="primary" (click)="handleClickRegister()">Back to login</button>
    </section>
  </div>
</div>